<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="..\..\appSettings.config" >
		<!-- create the appSettings.config file and enter your own value for the API Key there.  Do not commit an API Key value in this file. -->
		<add key="apiKey" value="" />
		
	</appSettings>
</configuration>